<div class="post-wrap">
  <div class="post-title">
    {{model.title}}
  </div>
  <div class="post-author">
    {{model.author}}
  </div>
  <div class="post-image">
    <img src="{{model.image}}" alt="blog image" />
  </div>
  <div class="post-text">
    {{model.text}}
  </div>
</div>
